<div class="container">
    <div class="card border-success-subtle shadow">
        <div class="card-header bg-success text-light fw-bold h5 ">
            <i class="bi bi-flask-fill"></i> Gestion des Recettes
        </div>
        <div class="card-body p-0">
            <table class="table table-striped table-hover">
                <thead class="table-success">
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>SAP (NaOH)</th>
                        <th>INS</th>
                        <th>Iode</th>
                        <!-- TODO 1 : Ajouter les caractérisitiques manquantes -->
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of recettes; track item.id) {
                    <tr>
                        @if (recetteSelectionne?.id === item.id) {
                        <td>{{ item.id }}</td>
                        <td><input [(ngModel)]="recetteSelectionne!.nom" class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="recetteSelectionne!.sapo"
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="recetteSelectionne!.ins"
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="recetteSelectionne!.iode"
                                class="form-control form-control-sm"></td>
                        <td class="text-center">
                            <button (click)="saveRecette()" class="btn btn-sm btn-success me-1"><i class="bi bi-check-lg"></i></button>
                            <button (click)="recetteSelectionne = null" class="btn btn-sm btn-secondary"><i class="bi bi-x-lg"></i></button>
                        </td>
                        } @else {
                        <td>{{ item.id }}</td>
                        <td><strong>{{ item.nom }}</strong></td>
                        <td>{{ item.sapo }}</td>
                        <td>{{ item.ins }}</td>
                        <td>{{ item.iode }}</td>
                        <td class="text-center">
                            <button (click)="editerRecette(item)" class="btn btn-sm btn-warning me-2"><i class="bi bi-pencil-fill"></i></button>
                            <button (click)="deleteRecette(item.id)" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></button>
                        </td>
                        }
                    </tr>
                    }
                          <!-- Message affiché si problème accès API -->
                    @empty {
                    <tr>
                        <td colspan="6" class="text-center text-muted py-4">
                            <i class="bi bi-exclamation-triangle"></i>
                            Aucun ingrédient trouvé.
                            Vérifiez que votre API Backend est bien lancée sur le
                            port 8080.
                        </td>
                    </tr>
                    }
                    @if (recetteSelectionne?.id === 0) {
                    <tr class="table-info">
                        <td>NEW</td>
                        <td><input [(ngModel)]="recetteSelectionne!.nom" placeholder="Nom..."
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="recetteSelectionne!.sapo"
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="recetteSelectionne!.ins"
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="recetteSelectionne!.iode"
                                class="form-control form-control-sm"></td>
                        <td class="text-center">
                            <button (click)="saveRecette()" class="btn btn-sm btn-success me-1">Créer</button>
                            <button (click)="recetteSelectionne = null" class="btn btn-sm btn-secondary">Annuler</button>
                        </td>
                    </tr>
                    }
              
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-success ">
            <button class="btn btn-sm btn-light fw-bold" 
            (click)="creerNouvelleRecette()">
                <i class="bi bi-plus-circle"></i> Recettes
            </button>
        </div>
    </div>
</div>