<footer class="footer container-fluid p-0 mt-4">
  <div class="container">
    <div class="footer-row row align-items-center pt-2 pb-2">
      <!-- Colonne 1 : Logo -->
      <div class="col-xl-2 col-12 footer-col1 py-3">
        <img src="/images/logos/adepro.png" alt="ADEPRO Logo" class="footer-logo" style="width: 200px;">
      </div>
      <!-- Colonne 2 : Contact -->
      <div class="col-xl-3 col-12 footer-col2 py-2">
        <div class="d-flex align-items-center">
          <i class="footer-icon bi bi-globe me-2"></i>
          <a href="https://www.adepro-consultant.fr/" class="footer-link">
            www.adepro-consultant.fr
          </a>
        </div>
        <div class="d-flex align-items-center">
          <i class="footer-icon bi bi-envelope-fill me-2"></i>
          <a href="mailto:contact@adepro-consultant.fr" class="footer-link">
            contact&#64;adepro-consultant.fr
          </a>
        </div>
      </div>
      <!-- Colonne 3 : Adresse -->
      <div class="col-xl-5 col-12 footer-col3 d-flex align-items-center py-2">
        <a href="https://www.google.com/maps/?q=adepro,marseille" target="_blank" title="Ouvrir dans GoogleMap">
          <i class="bi bi-geo-alt-fill footer-icon"></i>
        </a>
        <div class="ms-2">
          <p class="adresse-postale mb-0">Central Canebière – 10 Rue de
            la République
            <br>F-13001 Marseille
            <br>France
          </p>
        </div>
      </div>
      <!-- Colonne 4 : Liens et mentions légales -->
      <div class="col-xl-2 col-12 footer-col4 d-flex align-items-centerjustify-content-start ms-0 py-2">
        <ul class="list-unstyled mb-0">
          <li><a routerLink="/about" class="footer-link">À propos denous</a></li>
          <li><a routerLink="/mentions-legales" >Mentions légales</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Ligne copyright -->
  <div class="footer-bottom container-fluid justify-content-center">
    <div class="text-center">Copyright © 2026 - Adepro</div>
  </div>
</footer>