<div class="container">
    <div class="row pt-5">
        <div class="col-md-4">


            <div class="custom">
                <p><img src="/public/images/logos/adepro_logo_trans_inv.png" alt="ADEPRO" width="217" height="42"></p>
                <p>Central Canebière - 10 Rue de la République<br>F-13001 Marseille<br>France</p>
                <p>SIREN : 487 474 421<br>TVA: FR59 487474421</p>
            </div>

        </div>
        <div class="col-md-8 text-right">
            <div class="d-flex flex-row-reverse">
                <!-- <ul class="nav menu mx-0 mod-list">
                    <li class="item-193"><a class="nav-link" routerLink="/mentions-legales" routerLinkActive="active">Mentions légales</a></li>
                </ul> -->

            </div>
        </div>
    </div>
    <div class="row pb-2">
        <div class="mx-auto">
            <small>Copyright © 2026 - Adepro</small>
        </div>
    </div>
</div>