<nav class="nav-bar-fluid container-fluid navbar navbar-expand-sm p-0 mb-4">
    <div class="container-xl nav-bar-content p-0">
        <!-- Bouton Toggle (menu hamburger) : -->
        <button class="navbar-toggler ms-3 mt-2 mb-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Conteneur des liens du menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Cale la navbar sur la droite -->
            <!-- <div class="me-auto"></div> -->
            <ul class="navbar-nav nav-underline">
                <!-- Accès à la page home -->
                <li class="nav-item border-0">
                    <a class="nav-link" routerLink="home" routerLinkActive="active" title="Retour à la page d'accueil">
                        <i class="bi bi-house-fill"></i>
                    </a>
                </li>
                <!-- Accès à la page de calcul d'une recette SaF -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="recipe-calculator" routerLinkActive="active"
                        title="Calculer une recette de savon">
                        <i class="bi bi-calculator-fill"> </i>
                        Calculateur
                    </a>
                </li>
                <!-- Accès aux recettes de l'utilisateur -->
                @if (authService.getUserFullInfo()?.roles == "ROLE_UTILISATEUR" || authService.getUserFullInfo()?.roles
                == "ROLE_ADMIN" ) {
                <li class="nav-item">
                    <a class="nav-link" routerLink="recipe-manager" routerLinkActive="active"
                        title="Gérer mes recettes (retrouver ,modifier,supprimer...)">
                        <i class="bi bi-journal-text"> </i>
                        Mes recettes
                    </a>
                </li>
                }
                @if (authService.getUserFullInfo()?.roles == "ROLE_ADMIN" ) {
                <!-- Accès gestion des utilisateurs pour l'administrateur -->
                <li class="nav-item admin-only">
                    <a class="nav-link" routerLink="users-manager" routerLinkActive="active"
                        title="Gérer les utilisateurs">
                        <i class="bi bi-people-fill"> </i>
                        Utilisateurs
                    </a>
                </li>
                <!-- Accès gestion des ingrédients pour l'administrateur -->
                <li class="nav-item admin-only">
                    <a class="nav-link" routerLink="ingredients-manager" routerLinkActive="active"
                        title="Gérer les ingrédients (corps gras et agents alcalins)">
                        <i class="bi bi-collection-fill"> </i>
                        Ingrédients
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>