.app-header {
    .top-bar-fluid {
        height: var(--top-bar-height);
        background: var(--dark-side-charter);
    }

    .top-bar-content {
        height: var(--top-bar-height);
        background: var(--brown-charter);
        border-left: solid 1px var(--green-charter);
        border-right: solid 1px var(--green-charter);
        display: flex;
        /* Ajout pour aligner les éléments */
        align-items: center;
        /* Centre verticalement les éléments */
    }

    .logo {
        height: var(--top-bar-height);
    }

    .user-menu {
        display: flex;
        height: 30px;
        border-radius: 15px;
        /* align-items: center; */
        background: var(--green-charter);
        padding: 0px;

        .user-name {
            min-width: 120px;
            color: white;
            margin-left: 10px;
            margin-right: 0px;
            padding-right: 0px;
            transform: translateX(8px);
        }

        .dropdown-btn {
            width: 30px;
            height: 30px;
            background: var(--purple-charter);
            border: none;
            margin-right: 0px;
            color: white;
            font-size: 20px;
            z-index: 2;
        }

        /* Style du menu dropdown */
        .dropdown-menu {
            z-index: 1021;
            min-width: 150px;
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
        }

        /* Espacement des éléments */
        .dropdown-item {
            padding: 5px 10px;
        }

        /* Style au survol */
        .dropdown-item:hover {
            background: var(--green-charter);
            color: white;
        }
    }
}