.legal-notices-pages{
background-color: white;
box-shadow: 10px 10px 50px rgb(0, 0, 0, 0.5);
padding: 40px 40px 50px 50px; /* top | right | bottom | left */
margin-bottom: 0px;
h1 {
font-weight: bold;
font-size: 2em;
text-align: center;
padding-bottom: 1.5em;
}
h2 {
font-size: 1.5em;
font-weight: bold;
padding-top: 0.8em;
padding-bottom: 0.5em;
color: var(--green-charter);
}
p {
padding-left: 1em;
text-align: justify;
}
}