<div class="container">
    <div class="card border-success-subtle shadow">
        <div class="card-header bg-success text-light fw-bold h5 ">
            <i class="bi bi-flask-fill"></i> Gestion des Ingrédients
            <div class="form-check form-switch mb-0">
                <input class="form-check-input" type="checkbox" id="switchCorpsGras" [(ngModel)]="afficherCorpsGras">
                <label class="form-check-label text-white fw-normal small" for="switchCorpsGras">
                    Afficher les Corps gras
                </label>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped table-hover">
                <thead class="table-success">
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>SAP (NaOH)</th>
                        <th>INS</th>
                        <th>Iode</th>
                        <!-- TODO 1 : Ajouter les caractérisitiques manquantes -->
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of ingredientsFiltres; track item.id) {
                    <tr>
                        @if (ingredientSelectionne?.id === item.id) {
                        <td>{{ item.id }}</td>
                        <td><input [(ngModel)]="ingredientSelectionne!.nom" class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="ingredientSelectionne!.sapo"
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="ingredientSelectionne!.ins"
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="ingredientSelectionne!.iode"
                                class="form-control form-control-sm"></td>
                        <td class="text-center">
                            <button (click)="saveIngredient()" class="btn btn-sm btn-success me-1"><i
                                    class="bi bi-check-lg"></i></button>
                            <button (click)="ingredientSelectionne = null" class="btn btn-sm btn-secondary"><i
                                    class="bi bi-x-lg"></i></button>
                        </td>
                        } @else {
                        <td>{{ item.id }}</td>
                        <td><strong>{{ item.nom }}</strong></td>
                        <td>{{ item.sapo }}</td>
                        <td>{{ item.ins }}</td>
                        <td>{{ item.iode }}</td>
                        <td class="text-center">
                            <button (click)="editerIngredient(item)" class="btn btn-sm btn-warning me-2"><i
                                    class="bi bi-pencil-fill"></i></button>
                            <button (click)="deleteIngredient(item.id)" class="btn btn-sm btn-danger"><i
                                    class="bi bi-trash-fill"></i></button>
                        </td>
                        }
                    </tr>
                    }
                    <!-- Message affiché si problème accès API -->
                    @empty {
                    <tr>
                        <td colspan="6" class="text-center text-muted py-4">
                            <i class="bi bi-exclamation-triangle"></i>
                            Aucun ingrédient trouvé.
                            Vérifiez que votre API Backend est bien lancée sur le
                            port 8080.
                        </td>
                    </tr>
                    }
                    @if (ingredientSelectionne?.id === 0) {
                    <tr class="table-info">
                        <td>NEW</td>
                        <td><input [(ngModel)]="ingredientSelectionne!.nom" placeholder="Nom..."
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="ingredientSelectionne!.sapo"
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="ingredientSelectionne!.ins"
                                class="form-control form-control-sm"></td>
                        <td><input type="number" [(ngModel)]="ingredientSelectionne!.iode"
                                class="form-control form-control-sm"></td>
                        <td class="text-center">
                            <button (click)="saveIngredient()" class="btn btn-sm btn-success me-1">Créer</button>
                            <button (click)="ingredientSelectionne = null"
                                class="btn btn-sm btn-secondary">Annuler</button>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="card-footer bg-success ">
            <button class="btn btn-sm btn-light fw-bold" (click)="creerNouvelIngredient()">
                <i class="bi bi-plus-circle"></i> Ingrédient
            </button>
            <!-- Bouton import CSV -->
            <label class="btn btn-sm btn-warning fw-bold mb-0" for="importCSV">
                <i class="bi bi-upload"></i> Importer CSV
            </label>
            <input type="file" id="importCSV" accept=".csv" class="d-none" (change)="onImportCSV($event)">
            <!-- Message de retour -->
            @if (importMessage) {
            <span class="text-white small">{{ importMessage }}</span>
            }
        </div>
    </div>
</div>