/*
-------------------------------------
Définition des constantes de styles :
-------------------------------------
*/
:root {
/* Hauteur de la top barre :*/
--top-bar-height: 70px;
/* Définition des couleurs de la charte graphique : */
--green-charter: rgb(138, 160, 23);
--brown-charter: rgb(74, 64, 56);
--dark-charter: rgb(46, 46, 46);
--purple-charter: rgb(126, 31, 162);
--dark-side-charter: rgb(35, 35, 35);
}
/*
--------------------
Définition du fond :
--------------------
*/
body {
background-image: linear-gradient(0deg, rgba(224, 192, 123, 0.658), rgba(154, 226, 204, 0.9)), url('/images/Foond.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover; /*contain*/
background-attachment: fixed;
}